.u-section-1-1 {
  background-image: url("images/57e8d64a4e52aa14f6da8c7dda793678153bdee757596c48732e7bd29548c351b8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1-1 .u-text-1 {
  margin: 120px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 20px auto 60px;
}.u-section-1-2 {
  background-image: none;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1-2 .u-text-1 {
  margin: 157px auto 0;
}

.u-section-1-2 .u-text-2 {
  margin: 20px auto 60px;
}.u-block-da1c-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-da1c-3 {
  position: absolute;
  left: 0;
}

.u-block-da1c-4 {
  position: absolute;
  right: 0;
}